<%- include('partials/header', { title }) %>

<main>
    <h2>Upcoming Service Projects</h2>
    <ul>
        <% service_projects.forEach(project => { %>
            <li>
                <strong><%= project.title %></strong> - <%= project.description %>
                <% if (project.location) { %>
                    <br>
                    <span>Location: <%= project.location %></span>
                <% } %>
                <% if (project.project_date) { %>
                    <br>
                    <span>Date: <%= new Date(project.project_date).toLocaleDateString() %></span>
                <% } %>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>